<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

</head>

<body>
    <style>
        body {
          background-image: url('https://assets.entrepreneur.com/content/3x2/2000/20180315194714-GettyImages-862545030.jpeg');
        }
    </style>
    <center>

    <h1 style="color:white">Login Page</h1>
<form action="/login" method="post">
    {% if error %}
    <p style="color:red" error><strong>Error:</strong> {{ error }}
    {% endif %}
    <br>
    <br>
    <label style="color:white" for="Email">Email</label>
    <input type="email" id="email" name="email">

    <label style="color:white" for="Password">Password</label>
    <input type="password" id="pasw" name="pasw">
    <!-- <button type="button" onclick="window.location.href='{url_for('home')}'>Login</button> -->
    <button type="submit">Login</button>
</form>
    <br>
    <br>
    <a style="color:white" href="/register">Don't have an account? Sign Up</a>
</center>
</body>

</html>